$primary:       rgb(36, 218, 209);
$primary-dark:  rgb(21, 131, 125);
$secondary:     white;
$header:        black;
$color:         white;

html {scroll-behavior: smooth;}

body {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas:
        "header header navigation"
        "image intro intro"
        "image menu menu"
        "image reservatie reservatie"
        "footer footer footer";

    font-family: sans-serif;

    background: url(http://sogoodnotnormal.com/sites/all/themes/sogoodnotnormal/img/yamfood.jpg);
    background-size: cover;
}

.header {
    grid-area: header;
    position: relative;

    vertical-align: middle;

    background: $header;
    color: $color;

    img {
        display: inline;
        vertical-align: middle;
        max-height: 100px;
    }

    h2 {
        display: inline;
        vertical-align: bottom;
    }
    
    h1 {
        @extend h2;
        font-size: 75px;
    }

    
}

.navigation {
    grid-area: navigation;
    position: inline-block;

    background: $header;

    ul {
        list-style: none;
    }

    li {
        display: inline-block;

        background: $primary-dark;
        color: $secondary;

        text-decoration: none;
        text-align: center;

        width: 49%;
        height: 100%;

        padding: 25px 0;

        &:hover {
            background: $secondary;
            color: $primary-dark;
        }
    }


}

.image {
    grid-area: image;
    position: relative;

    margin: auto;

    img {
        height: 100%;
        vertical-align: middle;
    }

}

.intro {
    grid-area: intro;
    position: relative;

    margin: 10px 0 0 0;

    background: $primary;
    color: $color;

    h2, h3, p {
        margin-left: 20px;
    }

}

.menu {
    grid-area: menu;
    position: relative;
    display: inline-block;

    background: $primary-dark;
    color: $color;

    h2, h3, p {
        margin-left: 20px;
    }

    .left {
        float: left;
        left: 0;
        width: 78%;
    }

    .right {
        float: right;
        text-align: right;
        right: 0;
        width: 18%;
        margin-left: 0;
        margin-right: 20px;
    }

    hr {
        width: 97%;
        text-align: center;
        border-top: dotted 1px;
    }
}

.reservatie {
    grid-area: reservatie;
    position: relative;

    margin: 0 0 10px 0;

    background: $primary;
    color: $color;

    h2, h3, p {
        margin-left: 20px;
    }
}

.footer {
    grid-area: footer;
    position: relative;

    padding: 35px 0;

    background: $primary-dark;
    color: $color;

    p {
        padding-left: 20px;
    }
}